.wrapper {
  display: flex;
}
.left-sider {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.left-side-header {
  height: 100px;
}
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
}
.right-sider {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.right-side-header {
  height: 100px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
}
.form {
  background-color: #DDDDDD;
  height: 90px;
}